# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=5430
DB_NAME=postgres
DB_SSLMODE=disable

# Service
APP_ENV_SERVICE=development
PORT_SERVICE=8080

# Paths
MIGRATIONS_PATH=./internal/storage/db/migrations